@import '../styles/colors';
@import '../styles/_fonts';

.page {
    background-color: $background-color;
}

h2 {
    text-align: center;
    padding: 40px;
    font-family: $paragraph-font;
    font-size: 30px;
    color: $h1-and-buttons-text
}

span {
    font-family: $heading-font;
    font-size: 80px;
    font-weight: 900;
    color: $h1-and-buttons-text
}

.cardsDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 900px) {
    span {
        font-size: 40px;
        font-weight: 600;
    }
}

@media screen and (max-width: 700px) {
    
    h2 {
        padding: 30px;
        font-size: 25px;
    }

    span {
        font-size: 40px;
        font-weight: 300;
    }

}