@import '../styles/_colors';
@import '../styles/_fonts';

h1 {
    font-family: $heading-font;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
    margin: 0;
    color: $h1-and-buttons-text;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cheese-color;
    overflow: hidden visible;
}

.links {
    text-decoration: none;
    color: $meat-color;
    font-family: $paragraph-font;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding: 0 20px;
}

.circle1 {
    position: absolute;
    top: -50px;
    left: 50px;
}

.circle2 {
    position: absolute;
    left: 320px;
    top: 50px;
}

.circle3 {
    position: absolute;
    right: 420px;
    top: 5px;
}
