@import '../styles/_colors';
@import '../styles/_fonts';

.navbarDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cheese-color;
    height: 108px;
    position: relative;
    overflow: clip;

    h1 {
        position: relative;
        font-family: $heading-font;
        font-weight: 900;
        font-style: normal;
        font-size: 80px;
        margin: 0;
        color: $h1-and-buttons-text;
        z-index: 10;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $background-color;
    }

    .links {
        text-decoration: none;
        color: $meat-color;
        font-family: $paragraph-font;
        font-weight: 700;
        font-style: normal;
        font-size: 26px;
        padding: 0 20px;
    }

    @keyframes circle1Spin {
        from {
            left: 100px;
        } to {
            right: 600px;
        }
    }

    @keyframes circle2Spin {
        from {
            top: -50px;
        } to {
            bottom: 0px;
        }
    }

    @keyframes circle3Spin {
        from {
            right: 200px;
        } to {
            right: 1000px;
        } 
    }

    .circle1 {
        position: absolute;
        top: -50px;
        left: 50px;
        animation-name: circle1Spin;
	    animation-duration: 2s; 
	    animation-iteration-count: infinite;
	    animation-direction: alternate; 
	    animation-timing-function: linear; 
    }
    
    .circle2 {
        position: absolute;
        left: 320px;
        top: 25px;
        animation-name: circle2Spin;
	    animation-duration: 2s; 
	    animation-iteration-count: infinite;
	    animation-direction: alternate; 
	    animation-timing-function: linear; 
    }
    
    .circle3 {
        position: absolute;
        right: 420px;
        top: -100px;
        animation-name: circle3Spin;
	    animation-duration: 10s; 
	    animation-iteration-count: infinite;
	    animation-direction: alternate; 
	    animation-timing-function: linear; 
    }
    
    @media screen and (max-width: 1800px) {
    
        .circle3 {
            right: 320px;
        }
    }
    
    @media screen and (max-width: 1650px) { 
    
        .circle2 {
            left: 210px;
        }
    
        .circle3 {
            right: 290px;
        }
    }
    
    @media screen and (max-width: 1550px) { 
    
        .circle2 {
            left: 220px;
        }
    
        .circle3 {
            right: 250px;
            top: -30px;
        }
    }

    @media screen and (max-width: 1130px) {
        h1 {
            font-size: calc((100vw - 470px) * 0.122);
        }
    }
}
