@import '../styles/_colors';
@import '../styles/_fonts';

.topTenToppingsPage {
    width: 100%;
    font-family: "elza-text", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

    .topTenToppingsTable {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .title {
            font-size: 20px;
            padding: 20px 0 10px 0;
            font-weight: bold;
        }

        table {
            margin-top: 15px;
            width: 500px;
            border-collapse: collapse;
        }

        @media screen and (max-width: 520px) {
            table {
                width: calc(100vw - 20px);
            }
        }

        table td, table th {
            text-align: center;
            padding: 9px;
        }

        table td {
            margin: 0;
            font-size: 17px;
        }

        table tr.Cheese-row td {
            background-color: rgba($cheese-color, 0.5);
        }

        table tr.Meat-row td {
            background-color: rgba($meat-color, 0.5);
        }

        table tr.Veg-row td {
            background-color: rgba($veg-color, 0.5);
        }

        table td:first-child {
            border-radius: 5px 0 0 5px;
        }

        table td:last-child {
            border-radius: 0 5px 5px 0;
        }
    }

}
